<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Webjobs", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Accueil",    root_path %></li>
          <li><%= link_to "À propos",    a_propos_path %></li>
          <li><%= link_to "Connexion", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>